# Python
.venv/
venv/
__pycache__/
*.pyc

# Database
*.db
*.sqlite
*.sqlite3
pgdata/

# Node / Genell
**/node_modules/
**/dist/
.DS_Store

# Environment Variables (CRITICAL)
.env
**/.env
*.env.local

# Allow example files
!*.env.example
